In [24]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

## Tratamento

In [25]:
csv = pd.read_csv('dados/precos-gasolina-etanol-07.csv', delimiter=';')
comb_jul = pd.DataFrame(csv)
comb_jul.head(1)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,NaN,LACE,29703-030,GASOLINA ADITIVADA,01/07/2022,"7,48",NaN,R$ / litro,VIBRA ENERGIA

In [26]:
csv = pd.read_csv('dados/precos-gasolina-etanol-08.csv', delimiter=';')
comb_ago = pd.DataFrame(csv)
comb_ago.head(1)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,AUTO POSTO M M GARROTE LTDA,08.738.994/0001-50,RODOVIA AL-220,5848,KM 96,BOM SUCESSO,57309-035,ETANOL,01/08/2022,"4,79",NaN,R$ / litro,VIBRA ENERGIA

In [27]:
conjunto_dados = pd.concat([comb_jul, comb_ago])
conjunto_dados.head(1)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,NaN,LACE,29703-030,GASOLINA ADITIVADA,01/07/2022,"7,48",NaN,R$ / litro,VIBRA ENERGIA

In [28]:
conjunto_dados.reset_index(0,drop=True,inplace=True)

In [29]:
((conjunto_dados.isnull().sum() / conjunto_dados.shape[0]) * 100).sort_values(ascending=False)

Valor de Compra      100.000000
Complemento           78.707461
Bairro                 0.323960
Numero Rua             0.055828
Regiao - Sigla         0.000000
Estado - Sigla         0.000000
Municipio              0.000000
Revenda                0.000000
CNPJ da Revenda        0.000000
Nome da Rua            0.000000
Cep                    0.000000
Produto                0.000000
Data da Coleta         0.000000
Valor de Venda         0.000000
Unidade de Medida      0.000000
Bandeira               0.000000
dtype: float64

In [30]:
conjunto_dados.drop('Valor de Compra', axis=1, inplace=True)

In [31]:
conjunto_dados['Valor de Venda'] = conjunto_dados['Valor de Venda'].apply(lambda y: float(str(y.replace(',','.'))))

In [32]:
conjunto_dados.Complemento.fillna('0', inplace=True)

In [33]:
conjunto_dados.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Unidade de Medida,Bandeira
0,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,0,LACE,29703-030,GASOLINA ADITIVADA,01/07/2022,7.48,R$ / litro,VIBRA ENERGIA
1,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,0,LACE,29703-030,GASOLINA,01/07/2022,7.38,R$ / litro,VIBRA ENERGIA
2,SE,ES,COLATINA,POSTO MOTOCAP LTDA,04.814.652/0001-10,PRACA ALMIRANTE BARROSO,52,LETRA A,LACE,29703-055,ETANOL,01/07/2022,5.99,R$ / litro,VIBRA ENERGIA
3,SE,ES,COLATINA,POSTO MOTOCAP LTDA,04.814.652/0001-10,PRACA ALMIRANTE BARROSO,52,LETRA A,LACE,29703-055,GASOLINA,01/07/2022,7.39,R$ / litro,VIBRA ENERGIA
4,CO,GO,GOIANIA,JUSTINIANO & JUSTINIANO LTDA,04.489.287/0001-16,AVENIDA JOSE LEANDRO DA CRUZ,"2,36","QUADRA 18, LOTE 01",PARQUE AMAZONIA,74840-390,GASOLINA ADITIVADA,01/07/2022,6.49,R$ / litro,IPIRANGA

In [34]:
conjunto_dados['Data da Coleta'] = pd.to_datetime(conjunto_dados['Data da Coleta'],format='%d/%m/%Y')
conjunto_dados.head(1)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Unidade de Medida,Bandeira
0,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,0,LACE,29703-030,GASOLINA ADITIVADA,2022-07-01,7.48,R$ / litro,VIBRA ENERGIA

In [35]:
conjunto_dados.loc[(conjunto_dados['Data da Coleta'] > '2022-07-11') & (conjunto_dados['Data da Coleta'] < '2022-07-15')]

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Unidade de Medida,Bandeira
18585,S,RS,PORTO ALEGRE,COMERCIAL DE COMBUSTIVEIS TK LTDA,91.438.796/0001-14,RUA EDUARDO PRADO,415,CAVALHADA,CAVALHADA,91751-000,GASOLINA ADITIVADA,2022-07-12,6.09,R$ / litro,RAIZEN
18586,S,RS,PORTO ALEGRE,COMERCIAL DE COMBUSTIVEIS TK LTDA,91.438.796/0001-14,RUA EDUARDO PRADO,415,CAVALHADA,CAVALHADA,91751-000,GASOLINA,2022-07-12,5.89,R$ / litro,RAIZEN
18587,N,AC,RIO BRANCO,CODEPE COMBUSTIVEIS LTDA,08.220.930/0001-62,LOTEAMENTO PORTAL DA AMAZONIA,S/N,"QUADRA 101 LTS 01,02,03,04, 05 E 33",CALAFATE,69905-801,GASOLINA ADITIVADA,2022-07-12,6.39,R$ / litro,VIBRA ENERGIA
18588,N,AC,RIO BRANCO,CODEPE COMBUSTIVEIS LTDA,08.220.930/0001-62,LOTEAMENTO PORTAL DA AMAZONIA,S/N,"QUADRA 101 LTS 01,02,03,04, 05 E 33",CALAFATE,69905-801,ETANOL,2022-07-12,5.59,R$ / litro,VIBRA ENERGIA
18589,N,AC,RIO BRANCO,CODEPE COMBUSTIVEIS LTDA,08.220.930/0001-62,LOTEAMENTO PORTAL DA AMAZONIA,S/N,"QUADRA 101 LTS 01,02,03,04, 05 E 33",CALAFATE,69905-801,GASOLINA,2022-07-12,6.39,R$ / litro,VIBRA ENERGIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28444,NE,BA,IRECE,AUTO POSTO NORDESTE LTDA,35.621.319/0001-19,RUA BELEM,S/N,TERREO,BAIXAO DE SINEZIA,44900-000,GASOLINA ADITIVADA,2022-07-14,6.19,R$ / litro,BRANCA
28445,NE,PE,RECIFE,HCW COMERCIO DE COMBUSTIVEIS E LUBRIFICANTES LTDA,33.172.272/0003-90,RUA GENERAL JOAQUIM INACIO,425,0,PAISSANDU,50070-495,GASOLINA,2022-07-14,6.35,R$ / litro,IPIRANGA
28446,NE,PE,RECIFE,HCW COMERCIO DE COMBUSTIVEIS E LUBRIFICANTES LTDA,33.172.272/0003-90,RUA GENERAL JOAQUIM INACIO,425,0,PAISSANDU,50070-495,ETANOL,2022-07-14,5.79,R$ / litro,IPIRANGA
28447,S,SC,FLORIANOPOLIS,VIP COMBUSTIVEIS LTDA,35.793.154/0001-62,RUA WALDEMAR OURIQUES,739,0,CAPOEIRAS,88090-050,GASOLINA,2022-07-14,5.96,R$ / litro,BRANCA
28448,S,SC,FLORIANOPOLIS,VIP COMBUSTIVEIS LTDA,35.793.154/0001-62,RUA WALDEMAR OURIQUES,739,0,CAPOEIRAS,88090-050,GASOLINA ADITIVADA,2022-07-14,5.96,R$ / litro,BRANCA

In [36]:
conjunto_dados.dtypes

Regiao - Sigla               object
Estado - Sigla               object
Municipio                    object
Revenda                      object
CNPJ da Revenda              object
Nome da Rua                  object
Numero Rua                   object
Complemento                  object
Bairro                       object
Cep                          object
Produto                      object
Data da Coleta       datetime64[ns]
Valor de Venda              float64
Unidade de Medida            object
Bandeira                     object
dtype: object

In [45]:
#conjunto_dados['Data da Coleta'] = conjunto_dados['Data da Coleta'].dt.strftime('%d-%m-%Y')
#conjunto_dados.head(1)

In [37]:
conjunto_dados['Data da Coleta'][0]

Timestamp('2022-07-01 00:00:00')

In [38]:
# Criando função que acrecenta coluna de dias da semana
def cria_semanas(df):
  dias_semana = {'Sunday':'Domingo', 'Monday':'Segunda', 'Tuesday':'Terça', 'Wednesday':'Quarta', 'Thursday':'Quinta', 'Friday':'Sexta', 'Saturday':'Sábado'}
  df['Dias da Semana'] = df['Data da Coleta'].apply(lambda x: x.strftime('%A'))
  df['Dias da Semana'] = df['Dias da Semana'].replace(dias_semana)
  return df

In [39]:
conjunto_dados = cria_semanas(conjunto_dados)

## Trabalhando nos dados

In [1]:
#1 Como se comportam o preço dos combustíveis durante os dois meses citados? (Jul/Ago) Os valores do etanol e da gasolina tiveram uma (tendencia?) de queda ou diminuição?

In [ ]:
comb_jul['Valor de Venda'].mean()

In [ ]:
comb_ago['Valor de Venda'].mean()

In [ ]:
norte_jul = comb_jul[comb_jul['Regiao - Sigla'] == 'N']
nordeste_jul = comb_jul[comb_jul['Regiao - Sigla'] == 'NE']
sul_jul = comb_jul[comb_jul['Regiao - Sigla'] == 'S']
sudeste_jul = comb_jul[comb_jul['Regiao - Sigla'] == 'SE']
centro_oeste_jul = comb_jul[comb_jul['Regiao - Sigla'] == 'CO']

norte_ago = comb_ago[comb_ago['Regiao - Sigla'] == 'N']
nordeste_ago = comb_ago[comb_ago['Regiao - Sigla'] == 'NE']
sul_ago = comb_ago[comb_ago['Regiao - Sigla'] == 'S']
sudeste_ago = comb_ago[comb_ago['Regiao - Sigla'] == 'SE']
centro_oeste_ago = comb_ago[comb_ago['Regiao - Sigla'] == 'CO']

In [ ]:
njMedias = norte_jul['Valor de Venda'].mean()
njMedias

In [ ]:
naMedias = norte_ago['Valor de Venda'].mean()
naMedias

In [ ]:
nejMedias = nordeste_jul['Valor de Venda'].mean()
nejMedias

In [ ]:
neaMedias = nordeste_ago['Valor de Venda'].mean()
neaMedias

In [ ]:
sjMedia = sul_jul['Valor de Venda'].mean()
sjMedia

In [ ]:
saMedia = sul_ago['Valor de Venda'].mean()
saMedia

In [ ]:
sejMedia = sudeste_jul['Valor de Venda'].mean()
sejMedia

In [ ]:
seaMedia = sudeste_ago['Valor de Venda'].mean()
seaMedia

In [ ]:
cojMedia = centro_oeste_jul['Valor de Venda'].mean()
cojMedia

In [ ]:
coaMedia = centro_oeste_ago['Valor de Venda'].mean()
coaMedia

In [2]:
#2

In [ ]:
print(conjunto_dados.Produto.unique())

In [ ]:
pmgj = comb_jul[comb_jul['Produto'] == 'GASOLINA'].mean(numeric_only=True)
pmgj

In [ ]:
pmga =comb_ago[comb_ago['Produto'] == 'GASOLINA'].mean(numeric_only=True)
pmga

In [ ]:
pmgaj = comb_jul[comb_jul['Produto'] == 'GASOLINA ADITIVADA'].mean(numeric_only=True)
pmgaj

In [ ]:
pmgaa = comb_ago[comb_ago['Produto'] == 'GASOLINA ADITIVADA'].mean(numeric_only=True)
pmgaa

In [ ]:
pmej = comb_jul[comb_jul['Produto'] == 'ETANOL'].mean(numeric_only=True)
pmej

In [ ]:
pmea = comb_ago[comb_ago['Produto'] == 'ETANOL'].mean(numeric_only=True)
pmea

In [ ]:
# 3. Quais os 5 estados com o preço médio da gasolina e do etanol mais caros?
# Levando em consideração os 2 meses e os 2 combustíveis juntos,Gasolina(comum/aditiva) e Etanol.
dados_agrupados_estado = conjunto_dados.copy()
media_combs_estados = dados_agrupados_estado.groupby(dados_agrupados_estado['Estado - Sigla'])
print('OS 5 ESTADOS COM O MAIOR PREÇO MÉDIO DE GASOLINA COMUM/ADITIVADA E ETANOL NO BIMESTRE.')
display(media_combs_estados[['Valor de Venda']].mean().sort_values(by = 'Valor de Venda',ascending = False).head())

In [ ]:
# Fazendo a média bimestral com a Gasolina,Gasolina Aditivada e o Etanol separados.
media_gasolinadit_estado = dados_agrupados_estado.loc[dados_agrupados_estado['Produto'] == 'GASOLINA ADITIVADA'].groupby(dados_agrupados_estado['Estado - Sigla'])
print('OS 5 ESTADOS COM O MAIOR PREÇO MÉDIO DE GASOLINA ADITIVADA NO BIMESTRE.')
df_media_gasolinadt_estado = media_gasolinadit_estado[['Valor de Venda']].mean()
display(df_media_gasolinadt_estado.sort_values(by = 'Valor de Venda',ascending = False).head())
print('\n')
media_gasolina_estado = dados_agrupados_estado.loc[dados_agrupados_estado['Produto'] == 'GASOLINA'].groupby(dados_agrupados_estado['Estado - Sigla'])
print('OS 5 ESTADOS COM O MAIOR PREÇO MÉDIO DE GASOLINA COMUM NO BIMESTRE.')
df_media_gasolina_estado = media_gasolina_estado[['Valor de Venda']].mean()
display(df_media_gasolina_estado.sort_values(by = 'Valor de Venda',ascending = False).head())
print('\n')
print('OS 5 ESTADOS COM O MAIOR PREÇO MÉDIO DE ETANOL NO BIMESTRE.')
media_etanol_estado = dados_agrupados_estado.loc[dados_agrupados_estado['Produto'] == 'ETANOL'].groupby(dados_agrupados_estado['Estado - Sigla'])
df_media_etanol_estado = media_etanol_estado[['Valor de Venda']].mean()
display(df_media_etanol_estado.sort_values(by = 'Valor de Venda',ascending = False).head())

In [ ]:
# 4. Qual o preço médio da gasolina e do etanol por estado?
# Fazendo a média bimestral da Gasolina,da Gasolina Aditivada e do Etanol.
df_media_comb_estado = pd.concat([df_media_gasolinadt_estado,df_media_gasolina_estado,df_media_etanol_estado],axis = 1)
df_media_comb_estado.columns = ['Gasolina Aditivada','Gasolina Comum','Etanol']
print('Tabela com a média dos combustíveis por estado:\n')
df_media_comb_estado

In [40]:
# 5-Qual o município que possui o menor preço para a gasolina e para o etanol?
produtomunicipio = conjunto_dados.groupby(["Produto","Municipio"]) # primeiro, criamos um dataframe novo agrupando os dados de Produto e Municipio

In [41]:
minmunicipio = produtomunicipio[['Valor de Venda']].min() # Em seguida, extraimos apenas os valores mínimos, de acordo com a pergunta

# Criamos um dataframe contendo apenas os dados que retornavam as querys contendo Etanol, classificamos pelos valor de venda e resetamos o index na primeira linha
minmunicipioetanol = minmunicipio.query("Produto == 'ETANOL'").sort_values(by='Valor de Venda')
minmunicipioetanol = minmunicipioetanol.reset_index().head(1)

# Criamos um dataframe contendo apenas os dados que retornavam as querys contendo Gasolina, classificamos pelos valor de venda e resetamos o index na primeira linha
minmunicipiogasolina = minmunicipio.query("Produto == 'GASOLINA'").sort_values(by='Valor de Venda')
minmunicipiogasolina= minmunicipiogasolina.reset_index().head(1)

# Criamos um dataframe contendo apenas os dados que retornavam as querys contendo Gasolina Aditivada, classificamos pelos valor de venda e resetamos o index na primeira linha
minmunicipiogasolinaaditivada = minmunicipio.query("Produto == 'GASOLINA ADITIVADA'").sort_values(by='Valor de Venda')
minmunicipiogasolinaaditivada = minmunicipiogasolinaaditivada.reset_index().head(1)

# Concatenamos os três arquivos
minimas = pd.concat([minmunicipioetanol,minmunicipiogasolina,minmunicipiogasolinaaditivada])
minimas

              Produto            Municipio  Valor de Venda
0              ETANOL  PRESIDENTE PRUDENTE            2.89
0            GASOLINA          PASSO FUNDO            4.13
0  GASOLINA ADITIVADA          PASSO FUNDO            4.13

In [42]:
# 6-Qual o município que possui o maior preço para a gasolina e para o etanol?

maxmunicipio = produtomunicipio[['Valor de Venda']].max() # extraimos apenas os valores máximos, de acordo com a pergunta

# Criamos um dataframe contendo apenas os dados que retornavam as querys contendo Etanol, classificamos pelos valor de venda e resetamos o index na primeira linha
maxmunicipioetanol = minmunicipio.query("Produto == 'ETANOL'").sort_values(by='Valor de Venda',ascending = False)
maxmunicipioetanol= maxmunicipioetanol.reset_index().head(1)

# Criamos um dataframe contendo apenas os dados que retornavam as querys contendo Gasolina, classificamos pelos valor de venda e resetamos o index na primeira linha
maxmunicipiogasolina = maxmunicipio.query("Produto == 'GASOLINA'").sort_values(by='Valor de Venda',ascending = False)
maxmunicipiogasolina=maxmunicipiogasolina.reset_index().head(1)

# Criamos um dataframe contendo apenas os dados que retornavam as querys contendo Gasolina Aditivada, classificamos pelos valor de venda e resetamos o index na primeira linha
maxmunicipiogasolinaaditivada = maxmunicipio.query("Produto == 'GASOLINA ADITIVADA'").sort_values(by='Valor de Venda',ascending = False)
maxmunicipiogasolinaaditivada=maxmunicipiogasolinaaditivada.reset_index().head(1)

# Concatenamos os três arquivos
maximas = pd.concat([maxmunicipioetanol,maxmunicipiogasolina,maxmunicipiogasolinaaditivada])
maximas

              Produto   Municipio  Valor de Venda
0              ETANOL  URUGUAIANA            6.19
0            GASOLINA      GURUPI            8.75
0  GASOLINA ADITIVADA        MAGE            9.27

In [ ]:
# 7. Qual a região que possui o maior valor médio da gasolina?

# Criando uma cópia do DF original onde temos apenas os registros da Gasolina
df_gas = conjunto_dados.query('Produto == "GASOLINA" or Produto == "GASOLINA ADITIVADA"').copy()
df_gas.head()
# Ordenando o novo dataframe com o valor de venda da gasolina por região
produtos_gas = df_gas.groupby(['Produto', 'Regiao - Sigla'])[['Valor de Venda']].mean()
produtos_gas.columns = ['Média']
produtos_gas.style.format({'Média': 'R$ {:.2f}'})

In [ ]:
# Região com o maior valor médio:

# GASOLINA: Norte           -> R$ 5.97
# GAS ADTV: Norte, Nordeste -> R$ 6.11
# 8. Qual a região que possui o menor valor médio do etanol?

# Criando uma cópia do DF original onde temos apenas os registros do Etanol
df_et = conjunto_dados.query('Produto == "ETANOL"').copy()
df_et.head()

In [ ]:
# Ordenando o novo dataframe com o valor de venda do etanol por região
produto_et = df_et.groupby(['Produto', 'Regiao - Sigla'])[['Valor de Venda']].mean()
produto_et.columns = ['Média']
produto_et.style.format({'Média': 'R$ {:.2f}'})