In [113]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

## Tratamento

In [114]:
csv = pd.read_csv('dados/precos-gasolina-etanol-07.csv', delimiter=';')
comb_jul = pd.DataFrame(csv)
comb_jul.head(1)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,NaN,LACE,29703-030,GASOLINA ADITIVADA,01/07/2022,"7,48",NaN,R$ / litro,VIBRA ENERGIA

In [115]:
csv = pd.read_csv('dados/precos-gasolina-etanol-08.csv', delimiter=';')
comb_ago = pd.DataFrame(csv)
comb_ago.head(1)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,AUTO POSTO M M GARROTE LTDA,08.738.994/0001-50,RODOVIA AL-220,5848,KM 96,BOM SUCESSO,57309-035,ETANOL,01/08/2022,"4,79",NaN,R$ / litro,VIBRA ENERGIA

In [116]:
conjunto_dados = pd.concat([comb_jul, comb_ago])
conjunto_dados.head(1)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,NaN,LACE,29703-030,GASOLINA ADITIVADA,01/07/2022,"7,48",NaN,R$ / litro,VIBRA ENERGIA

In [117]:
conjunto_dados.reset_index(0,drop=True,inplace=True)

In [118]:
((conjunto_dados.isnull().sum() / conjunto_dados.shape[0]) * 100).sort_values(ascending=False)

Valor de Compra      100.000000
Complemento           78.707461
Bairro                 0.323960
Numero Rua             0.055828
Regiao - Sigla         0.000000
Estado - Sigla         0.000000
Municipio              0.000000
Revenda                0.000000
CNPJ da Revenda        0.000000
Nome da Rua            0.000000
Cep                    0.000000
Produto                0.000000
Data da Coleta         0.000000
Valor de Venda         0.000000
Unidade de Medida      0.000000
Bandeira               0.000000
dtype: float64

In [119]:
conjunto_dados.drop('Valor de Compra', axis=1, inplace=True)

In [120]:
conjunto_dados['Valor de Venda'] = conjunto_dados['Valor de Venda'].apply(lambda y: float(str(y.replace(',','.'))))

In [121]:
conjunto_dados.Complemento.fillna('0', inplace=True)

In [122]:
conjunto_dados.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Unidade de Medida,Bandeira
0,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,0,LACE,29703-030,GASOLINA ADITIVADA,01/07/2022,7.48,R$ / litro,VIBRA ENERGIA
1,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,0,LACE,29703-030,GASOLINA,01/07/2022,7.38,R$ / litro,VIBRA ENERGIA
2,SE,ES,COLATINA,POSTO MOTOCAP LTDA,04.814.652/0001-10,PRACA ALMIRANTE BARROSO,52,LETRA A,LACE,29703-055,ETANOL,01/07/2022,5.99,R$ / litro,VIBRA ENERGIA
3,SE,ES,COLATINA,POSTO MOTOCAP LTDA,04.814.652/0001-10,PRACA ALMIRANTE BARROSO,52,LETRA A,LACE,29703-055,GASOLINA,01/07/2022,7.39,R$ / litro,VIBRA ENERGIA
4,CO,GO,GOIANIA,JUSTINIANO & JUSTINIANO LTDA,04.489.287/0001-16,AVENIDA JOSE LEANDRO DA CRUZ,"2,36","QUADRA 18, LOTE 01",PARQUE AMAZONIA,74840-390,GASOLINA ADITIVADA,01/07/2022,6.49,R$ / litro,IPIRANGA

In [123]:
conjunto_dados['Data da Coleta'] = pd.to_datetime(conjunto_dados['Data da Coleta'],format='%d/%m/%Y')
conjunto_dados.head(1)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Unidade de Medida,Bandeira
0,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,0,LACE,29703-030,GASOLINA ADITIVADA,2022-07-01,7.48,R$ / litro,VIBRA ENERGIA

In [124]:
conjunto_dados.loc[(conjunto_dados['Data da Coleta'] > '2022-07-11') & (conjunto_dados['Data da Coleta'] < '2022-07-15')]

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Unidade de Medida,Bandeira
18585,S,RS,PORTO ALEGRE,COMERCIAL DE COMBUSTIVEIS TK LTDA,91.438.796/0001-14,RUA EDUARDO PRADO,415,CAVALHADA,CAVALHADA,91751-000,GASOLINA ADITIVADA,2022-07-12,6.09,R$ / litro,RAIZEN
18586,S,RS,PORTO ALEGRE,COMERCIAL DE COMBUSTIVEIS TK LTDA,91.438.796/0001-14,RUA EDUARDO PRADO,415,CAVALHADA,CAVALHADA,91751-000,GASOLINA,2022-07-12,5.89,R$ / litro,RAIZEN
18587,N,AC,RIO BRANCO,CODEPE COMBUSTIVEIS LTDA,08.220.930/0001-62,LOTEAMENTO PORTAL DA AMAZONIA,S/N,"QUADRA 101 LTS 01,02,03,04, 05 E 33",CALAFATE,69905-801,GASOLINA ADITIVADA,2022-07-12,6.39,R$ / litro,VIBRA ENERGIA
18588,N,AC,RIO BRANCO,CODEPE COMBUSTIVEIS LTDA,08.220.930/0001-62,LOTEAMENTO PORTAL DA AMAZONIA,S/N,"QUADRA 101 LTS 01,02,03,04, 05 E 33",CALAFATE,69905-801,ETANOL,2022-07-12,5.59,R$ / litro,VIBRA ENERGIA
18589,N,AC,RIO BRANCO,CODEPE COMBUSTIVEIS LTDA,08.220.930/0001-62,LOTEAMENTO PORTAL DA AMAZONIA,S/N,"QUADRA 101 LTS 01,02,03,04, 05 E 33",CALAFATE,69905-801,GASOLINA,2022-07-12,6.39,R$ / litro,VIBRA ENERGIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28444,NE,BA,IRECE,AUTO POSTO NORDESTE LTDA,35.621.319/0001-19,RUA BELEM,S/N,TERREO,BAIXAO DE SINEZIA,44900-000,GASOLINA ADITIVADA,2022-07-14,6.19,R$ / litro,BRANCA
28445,NE,PE,RECIFE,HCW COMERCIO DE COMBUSTIVEIS E LUBRIFICANTES LTDA,33.172.272/0003-90,RUA GENERAL JOAQUIM INACIO,425,0,PAISSANDU,50070-495,GASOLINA,2022-07-14,6.35,R$ / litro,IPIRANGA
28446,NE,PE,RECIFE,HCW COMERCIO DE COMBUSTIVEIS E LUBRIFICANTES LTDA,33.172.272/0003-90,RUA GENERAL JOAQUIM INACIO,425,0,PAISSANDU,50070-495,ETANOL,2022-07-14,5.79,R$ / litro,IPIRANGA
28447,S,SC,FLORIANOPOLIS,VIP COMBUSTIVEIS LTDA,35.793.154/0001-62,RUA WALDEMAR OURIQUES,739,0,CAPOEIRAS,88090-050,GASOLINA,2022-07-14,5.96,R$ / litro,BRANCA
28448,S,SC,FLORIANOPOLIS,VIP COMBUSTIVEIS LTDA,35.793.154/0001-62,RUA WALDEMAR OURIQUES,739,0,CAPOEIRAS,88090-050,GASOLINA ADITIVADA,2022-07-14,5.96,R$ / litro,BRANCA

In [125]:
conjunto_dados.dtypes

Regiao - Sigla               object
Estado - Sigla               object
Municipio                    object
Revenda                      object
CNPJ da Revenda              object
Nome da Rua                  object
Numero Rua                   object
Complemento                  object
Bairro                       object
Cep                          object
Produto                      object
Data da Coleta       datetime64[ns]
Valor de Venda              float64
Unidade de Medida            object
Bandeira                     object
dtype: object

In [126]:
conjunto_dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127176 entries, 0 to 127175
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     127176 non-null  object
 1   Estado - Sigla     127176 non-null  object
 2   Municipio          127176 non-null  object
 3   Revenda            127176 non-null  object
 4   CNPJ da Revenda    127176 non-null  object
 5   Nome da Rua        127176 non-null  object
 6   Numero Rua         127105 non-null  object
 7   Complemento        127176 non-null  object
 8   Bairro             126764 non-null  object
 9   Cep                127176 non-null  object
 10  Produto            127176 non-null  object
 11  Data da Coleta     127176 non-null  datetime64[ns]
 12  Valor de Venda     127176 non-null  float64
 13  Unidade de Medida  127176 non-null  object
 14  Bandeira           127176 non-null  object
dtypes: datetime64[ns](1), float64(1), object(13)
memory usage: 14.6+ MB

In [127]:
#conjunto_dados['Data da Coleta'] = conjunto_dados['Data da Coleta'].dt.strftime('%d-%m-%Y')
#conjunto_dados.head(1)

In [128]:
conjunto_dados['Data da Coleta'][0]

Timestamp('2022-07-01 00:00:00')

In [129]:
# Criando função que acrecenta coluna de dias da semana
def cria_semanas(df):
    dias_semana = {'Sunday':'Domingo', 'Monday':'Segunda', 'Tuesday':'Terça', 'Wednesday':'Quarta', 'Thursday':'Quinta', 'Friday':'Sexta', 'Saturday':'Sábado'}
    df['Dias da Semana'] = df['Data da Coleta'].apply(lambda x: x.strftime('%A'))
    df['Dias da Semana'] = df['Dias da Semana'].replace(dias_semana)
    return df

In [206]:
# Definindo função lambda para formatar a saída do DF
formatar = lambda x: f'R$ {x:.3f}'

In [130]:
conjunto_dados = cria_semanas(conjunto_dados)

In [131]:
conjunto_dados.columns

Index(['Regiao - Sigla', 'Estado - Sigla', 'Municipio', 'Revenda',
       'CNPJ da Revenda', 'Nome da Rua', 'Numero Rua', 'Complemento', 'Bairro',
       'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda',
       'Unidade de Medida', 'Bandeira', 'Dias da Semana'],
      dtype='object')

## Trabalhando nos dados

In [132]:
#1 Como se comportam o preço dos combustíveis durante os dois meses citados? (Jul/Ago) Os valores do etanol e da gasolina tiveram uma (tendencia?) de queda ou diminuição?

In [133]:
comb_jul = conjunto_dados[(conjunto_dados['Data da Coleta'] < '2022-08-01')] 
comb_ago = conjunto_dados[(conjunto_dados['Data da Coleta'] > '2022-08-01')]

In [208]:
preco_comb_jul = comb_jul.groupby(['Regiao - Sigla']).mean()
preco_comb_jul.columns = ['Preço Médio']
preco_comb_jul['Preço Médio'] = preco_comb_jul['Preço Médio'].apply(formatar)

display(preco_comb_jul.sort_values(by='Preço Médio', ascending=True))

               Preço Médio
Regiao - Sigla
CO                R$ 5.327
SE                R$ 5.408
S                 R$ 5.775
NE                R$ 6.206
N                 R$ 6.214

In [209]:
preco_comb_ago = comb_ago.groupby(['Regiao - Sigla']).mean()
preco_comb_ago.columns = ['Preço Médio']
preco_comb_ago['Preço Médio'] = preco_comb_ago['Preço Médio'].apply(formatar)

display(preco_comb_ago.sort_values(by='Preço Médio', ascending=True))

               Preço Médio
Regiao - Sigla
CO                R$ 4.804
SE                R$ 4.891
S                 R$ 5.225
NE                R$ 5.369
N                 R$ 5.594

In [ ]:
# 2. Qual o preço médio da gasolina e do etanol nesses dois meses?

In [210]:
relacao_comb_preco_jul = comb_jul[['Produto','Valor de Venda', 'Regiao - Sigla']].groupby(['Produto', 'Regiao - Sigla']).mean()
relacao_comb_preco_jul.columns = ['Preço Médio']
relacao_comb_preco_jul['Preço Médio'] = relacao_comb_preco_jul['Preço Médio'].apply(formatar)

display(relacao_comb_preco_jul.sort_values(by='Produto', ascending=True))

                                  Preço Médio
Produto            Regiao - Sigla
ETANOL             CO                R$ 4.325
                   N                 R$ 5.637
                   NE                R$ 5.605
                   S                 R$ 5.105
                   SE                R$ 4.364
GASOLINA           CO                R$ 5.894
                   N                 R$ 6.322
                   NE                R$ 6.443
                   S                 R$ 5.939
                   SE                R$ 5.927
GASOLINA ADITIVADA CO                R$ 6.034
                   N                 R$ 6.458
                   NE                R$ 6.601
                   S                 R$ 6.079
                   SE                R$ 6.141

In [211]:
relacao_comb_preco_ago = comb_ago[['Produto','Valor de Venda', 'Regiao - Sigla']].groupby(['Produto', 'Regiao - Sigla']).mean()
relacao_comb_preco_ago.columns = ['Preço Médio']
relacao_comb_preco_ago['Preço Médio'] = relacao_comb_preco_ago['Preço Médio'].apply(formatar)

display(relacao_comb_preco_ago.sort_values(by='Produto', ascending=True))

                                  Preço Médio
Produto            Regiao - Sigla
ETANOL             CO                R$ 3.912
                   N                 R$ 5.098
                   NE                R$ 4.925
                   S                 R$ 4.612
                   SE                R$ 3.965
GASOLINA           CO                R$ 5.301
                   N                 R$ 5.681
                   NE                R$ 5.528
                   S                 R$ 5.373
                   SE                R$ 5.343
GASOLINA ADITIVADA CO                R$ 5.446
                   N                 R$ 5.809
                   NE                R$ 5.681
                   S                 R$ 5.505
                   SE                R$ 5.551

In [212]:
# 3. Quais os 5 estados com o preço médio da gasolina e do etanol mais caros?
# Levando em consideração os 2 meses e os 2 combustíveis juntos,Gasolina(comum/aditiva) e Etanol.
dados_agrupados_estado = conjunto_dados.copy()

media_combs_estados = dados_agrupados_estado.groupby(dados_agrupados_estado['Estado - Sigla'])[['Valor de Venda']].mean()
media_combs_estados.columns = ['Preço Médio']
media_combs_estados['Preço Médio'] = media_combs_estados['Preço Médio'].apply(formatar)

print('OS 5 ESTADOS COM O MAIOR PREÇO MÉDIO DE GASOLINA COMUM/ADITIVADA E ETANOL NO BIMESTRE.')
display(media_combs_estados.sort_values(by='Preço Médio', ascending=True).head())

OS 5 ESTADOS COM O MAIOR PREÇO MÉDIO DE GASOLINA COMUM/ADITIVADA E ETANOL NO BIMESTRE.

               Preço Médio
Estado - Sigla
GO                R$ 4.972
SP                R$ 4.983
MT                R$ 4.987
MG                R$ 5.162
MS                R$ 5.169

In [214]:
# Fazendo a média bimestral com a Gasolina, Gasolina Aditivada e o Etanol separados.
media_gas_adt_estado = dados_agrupados_estado.loc[dados_agrupados_estado['Produto'] == 'GASOLINA ADITIVADA'].groupby(dados_agrupados_estado['Estado - Sigla'])

df_media_gas_adt_estado = media_gas_adt_estado[['Valor de Venda']].mean()
df_media_gas_adt_estado.columns = ['Preço Médio']
df_media_gas_adt_estado['Preço Médio'] = df_media_gas_adt_estado['Preço Médio'].apply(formatar)

print('OS 5 ESTADOS COM O MAIOR PREÇO MÉDIO DE GASOLINA ADITIVADA NO BIMESTRE.')
display(df_media_gas_adt_estado.sort_values(by = 'Preço Médio',ascending = False).head())

OS 5 ESTADOS COM O MAIOR PREÇO MÉDIO DE GASOLINA ADITIVADA NO BIMESTRE.

               Preço Médio
Estado - Sigla
PI                R$ 6.315
CE                R$ 6.198
AC                R$ 6.178
TO                R$ 6.177
PA                R$ 6.174

In [171]:
media_gas_estado = dados_agrupados_estado.loc[dados_agrupados_estado['Produto'] == 'GASOLINA'].groupby(dados_agrupados_estado['Estado - Sigla'])
print('OS 5 ESTADOS COM O MAIOR PREÇO MÉDIO DE GASOLINA COMUM NO BIMESTRE.')
df_media_gas_estado = media_gas_estado[['Valor de Venda']].mean()
df_media_gas_estado.columns = ['Preço Médio']
display(df_media_gas_estado.sort_values(by = 'Preço Médio',ascending = False).head().style.format({'Preço Médio': 'R$ {:.3f}'}))

OS 5 ESTADOS COM O MAIOR PREÇO MÉDIO DE GASOLINA COMUM NO BIMESTRE.

In [172]:
print('OS 5 ESTADOS COM O MAIOR PREÇO MÉDIO DE ETANOL NO BIMESTRE.')
media_etanol_estado = dados_agrupados_estado.loc[dados_agrupados_estado['Produto'] == 'ETANOL'].groupby(dados_agrupados_estado['Estado - Sigla'])
df_media_etanol_estado = media_etanol_estado[['Valor de Venda']].mean()
df_media_etanol_estado.columns = ['Preço Médio']
display(df_media_etanol_estado.sort_values(by = 'Preço Médio',ascending = False).head().style.format({'Preço Médio': 'R$ {:.3f}'}))

OS 5 ESTADOS COM O MAIOR PREÇO MÉDIO DE ETANOL NO BIMESTRE.

In [183]:
# Definindo função lambda para formatar a saída do DF
formatar = lambda x: f'R$ {x:.3f}'

In [184]:
# 4. Qual o preço médio da gasolina e do etanol por estado?
# Fazendo a média bimestral da Gasolina,da Gasolina Aditivada e do Etanol.
df_media_comb_estado = pd.concat([df_media_gasolinadt_estado,df_media_gasolina_estado,df_media_etanol_estado],axis = 1)
df_media_comb_estado.columns = ['Gasolina Aditivada','Gasolina Comum','Etanol']
print('Tabela com a média dos combustíveis por estado:\n')
# df_media_comb_estado.style.format({['Gasolina Aditivada','Gasolina Comum','Etanol']: 'R$ {:.3f}'})
df_media_comb_estado.applymap(formatar)

Tabela com a média dos combustíveis por estado:

               Gasolina Aditivada Gasolina Comum    Etanol
Estado - Sigla
AC                       R$ 6.178       R$ 6.211  R$ 5.377
AL                       R$ 6.101       R$ 5.945  R$ 5.241
AM                       R$ 6.118       R$ 6.188  R$ 4.953
AP                       R$ 5.433       R$ 5.107  R$ 5.896
BA                       R$ 6.140       R$ 6.031  R$ 5.074
CE                       R$ 6.198       R$ 5.955  R$ 5.482
DF                       R$ 5.700       R$ 5.601  R$ 4.749
ES                       R$ 5.931       R$ 5.796  R$ 4.964
GO                       R$ 5.648       R$ 5.519  R$ 4.060
MA                       R$ 6.045       R$ 5.949  R$ 5.332
MG                       R$ 5.830       R$ 5.669  R$ 4.251
MS                       R$ 5.695       R$ 5.558  R$ 4.407
MT                       R$ 5.854       R$ 5.680  R$ 3.806
PA                       R$ 6.174       R$ 6.014  R$ 5.625
PB                       R$ 5.930       R$ 5.748  R$ 5.103
PE                       R$ 6.079       R$ 5.928  R$ 5.344
PI                       R$ 6.315       R$ 6.075  R$ 4.987
PR                       R$ 5.786       R$ 5.631  R$ 4.423
RJ                       R$ 5.972       R$ 5.840  R$ 4.874
RN                       R$ 6.067       R$ 6.029  R$ 5.482
RO                       R$ 5.956       R$ 5.833  R$ 5.599
RR                       R$ 6.156       R$ 6.030  R$ 5.568
RS                       R$ 5.768       R$ 5.628  R$ 5.660
SC                       R$ 5.783       R$ 5.676  R$ 5.214
SE                       R$ 5.675       R$ 5.576  R$ 5.093
SP                       R$ 5.773       R$ 5.528  R$ 3.896
TO                       R$ 6.177       R$ 6.046  R$ 5.151

In [185]:
# 5-Qual o município que possui o menor preço para a gasolina e para o etanol?

# primeiro, criamos um dataframe novo agrupando os dados de Produto e Municipio
produtomunicipio = conjunto_dados.groupby(["Produto","Municipio"])

In [204]:
# Em seguida, extraimos apenas os valores mínimos, de acordo com a pergunta
minmunicipio = produtomunicipio[['Valor de Venda']].min()

# Criamos um dataframe contendo apenas os dados que retornavam as querys contendo Etanol, classificamos pelos valor de venda e resetamos o index na primeira linha
minmunicipioetanol = minmunicipio.query("Produto == 'ETANOL'").sort_values(by='Valor de Venda').head(1)
# minmunicipioetanol = minmunicipioetanol.reset_index().head(1)

# Criamos um dataframe contendo apenas os dados que retornavam as querys contendo Gasolina, classificamos pelos valor de venda e resetamos o index na primeira linha
minmunicipiogasolina = minmunicipio.query("Produto == 'GASOLINA'").sort_values(by='Valor de Venda').head(1)
# minmunicipiogasolina= minmunicipiogasolina.reset_index().head(1)

# Criamos um dataframe contendo apenas os dados que retornavam as querys contendo Gasolina Aditivada, classificamos pelos valor de venda e resetamos o index na primeira linha
minmunicipiogasolinaaditivada = minmunicipio.query("Produto == 'GASOLINA ADITIVADA'").sort_values(by='Valor de Venda').head(1)
# minmunicipiogasolinaaditivada = minmunicipiogasolinaaditivada.reset_index().head(1)

# Concatenamos os três arquivos
minimas = pd.concat([minmunicipioetanol,minmunicipiogasolina,minmunicipiogasolinaaditivada])
minimas['Valor de Venda'] = minimas['Valor de Venda'].apply(formatar)
minimas

                                       Valor de Venda
Produto            Municipio
ETANOL             PRESIDENTE PRUDENTE       R$ 2.890
GASOLINA           PASSO FUNDO               R$ 4.130
GASOLINA ADITIVADA PASSO FUNDO               R$ 4.130

In [205]:
# 6-Qual o município que possui o maior preço para a gasolina e para o etanol?

# extraimos apenas os valores máximos, de acordo com a pergunta
maxmunicipio = produtomunicipio[['Valor de Venda']].max()

# Criamos um dataframe contendo apenas os dados que retornavam as querys contendo Etanol, classificamos pelos valor de venda e resetamos o index na primeira linha
maxmunicipioetanol = minmunicipio.query("Produto == 'ETANOL'").sort_values(by='Valor de Venda',ascending = False).head(1)
# maxmunicipioetanol= maxmunicipioetanol.reset_index().head(1)

# Criamos um dataframe contendo apenas os dados que retornavam as querys contendo Gasolina, classificamos pelos valor de venda e resetamos o index na primeira linha
maxmunicipiogasolina = maxmunicipio.query("Produto == 'GASOLINA'").sort_values(by='Valor de Venda',ascending = False).head(1)
# maxmunicipiogasolina=maxmunicipiogasolina.reset_index().head(1)

# Criamos um dataframe contendo apenas os dados que retornavam as querys contendo Gasolina Aditivada, classificamos pelos valor de venda e resetamos o index na primeira linha
maxmunicipiogasolinaaditivada = maxmunicipio.query("Produto == 'GASOLINA ADITIVADA'").sort_values(by='Valor de Venda',ascending = False).head(1)
# maxmunicipiogasolinaaditivada=maxmunicipiogasolinaaditivada.reset_index().head(1)

# Concatenamos os três arquivos
maximas = pd.concat([maxmunicipioetanol,maxmunicipiogasolina,maxmunicipiogasolinaaditivada])
maximas['Valor de Venda'] = maximas['Valor de Venda'].apply(formatar)
maximas

                              Valor de Venda
Produto            Municipio
ETANOL             URUGUAIANA       R$ 6.190
GASOLINA           GURUPI           R$ 8.750
GASOLINA ADITIVADA MAGE             R$ 9.270

In [145]:
# 7. Qual a região que possui o maior valor médio da gasolina?

# Criando uma cópia do DF original onde temos apenas os registros da Gasolina
df_gas = conjunto_dados.query('Produto == "GASOLINA" or Produto == "GASOLINA ADITIVADA"').copy()
df_gas.head()
# Ordenando o novo dataframe com o valor de venda da gasolina por região
produtos_gas = df_gas.groupby(['Produto', 'Regiao - Sigla'])[['Valor de Venda']].mean()
produtos_gas.columns = ['Média']
produtos_gas.style.format({'Média': 'R$ {:.2f}'})

In [146]:
# Região com o maior valor médio:

# GASOLINA: Norte           -> R$ 5.97
# GAS ADTV: Norte, Nordeste -> R$ 6.11
# 8. Qual a região que possui o menor valor médio do etanol?

# Criando uma cópia do DF original onde temos apenas os registros do Etanol
df_et = conjunto_dados.query('Produto == "ETANOL"').copy()
df_et.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Unidade de Medida,Bandeira,Dias da Semana
2,SE,ES,COLATINA,POSTO MOTOCAP LTDA,04.814.652/0001-10,PRACA ALMIRANTE BARROSO,52,LETRA A,LACE,29703-055,ETANOL,2022-07-01,5.99,R$ / litro,VIBRA ENERGIA,Sexta
5,CO,GO,GOIANIA,JUSTINIANO & JUSTINIANO LTDA,04.489.287/0001-16,AVENIDA JOSE LEANDRO DA CRUZ,"2,36","QUADRA 18, LOTE 01",PARQUE AMAZONIA,74840-390,ETANOL,2022-07-01,4.24,R$ / litro,IPIRANGA,Sexta
8,CO,GO,GOIANIA,VIENA AUTO POSTO EIRELI,05.217.903/0001-42,AVENIDA RIO VERDE,4758,QUADRA76 LOTE 01 02 E 10,VI ROSA,74843-660,ETANOL,2022-07-01,4.49,R$ / litro,BRANCA,Sexta
11,NE,PI,TERESINA,T. M. VALENÇA LTDA.,08.570.781/0001-61,AVENIDA TANCREDO NEVES,8575,SUL,LOURIVAL PARENTE,64022-350,ETANOL,2022-07-01,5.57,R$ / litro,BRANCA,Sexta
13,NE,PI,TERESINA,POSTO SANTA MARIA LTDA,08.203.364/0001-80,AVENIDA PREFEITO WALL FERRAZ,9365,0,LOURIVAL PARENTE,64023-635,ETANOL,2022-07-01,5.57,R$ / litro,BRANCA,Sexta

In [147]:
# Ordenando o novo dataframe com o valor de venda do etanol por região
produto_et = df_et.groupby(['Produto', 'Regiao - Sigla'])[['Valor de Venda']].mean()
produto_et.columns = ['Média']
produto_et.style.format({'Média': 'R$ {:.2f}'})

In [148]:
#9. Há alguma correlação entre o valor do combustível (gasolina e etanol) e a região onde ele é vendido?
# Há uma correlação positiva muito forte entre os valores do combustível com base na média por região.

In [215]:
media_combustivel_regiao = conjunto_dados.groupby(['Regiao - Sigla','Produto'])[['Valor de Venda']].mean()

media_combustivel_regiao

                                   Valor de Venda
Regiao - Sigla Produto
CO             ETANOL                    4.107305
               GASOLINA                  5.581603
               GASOLINA ADITIVADA        5.721266
N              ETANOL                    5.340633
               GASOLINA                  5.972082
               GASOLINA ADITIVADA        6.105695
NE             ETANOL                    5.246069
               GASOLINA                  5.955809
               GASOLINA ADITIVADA        6.109450
S              ETANOL                    4.842372
               GASOLINA                  5.641161
               GASOLINA ADITIVADA        5.777628
SE             ETANOL                    4.149964
               GASOLINA                  5.615655
               GASOLINA ADITIVADA        5.827207

In [153]:
media_regiao2 = media_combustivel_regiao.unstack('Regiao - Sigla', 'Produto')
media_regiao2

# Plotar gráfico multi-barras e explciar a correlação a partir dai

                   Valor de Venda
Regiao - Sigla                 CO         N        NE         S        SE
Produto
ETANOL                   4.107305  5.340633  5.246069  4.842372  4.149964
GASOLINA                 5.581603  5.972082  5.955809  5.641161  5.615655
GASOLINA ADITIVADA       5.721266  6.105695  6.109450  5.777628  5.827207

In [156]:
# 10. Há alguma correlação entre o valor do combustível (gasolina e etanol) e a bandeira que vende ele?

In [269]:
media_combustivel_bandeira = conjunto_dados.groupby(['Bandeira', 'Produto'])[['Valor de Venda']].mean()

media_combustivel_bandeira

                                Valor de Venda
Bandeira    Produto
ALESAT      ETANOL                    4.657715
            GASOLINA                  5.798276
            GASOLINA ADITIVADA        5.925192
AMERICANOIL ETANOL                    5.190000
            GASOLINA                  5.847826
...                                        ...
WALENDOWSKY GASOLINA                  5.852222
            GASOLINA ADITIVADA        5.862222
WATT        ETANOL                    4.104545
            GASOLINA                  6.027273
            GASOLINA ADITIVADA        6.960000

[145 rows x 1 columns]

In [270]:
media_bandeira1 = media_combustivel_bandeira.unstack()
media_bandeira1.head()

# Verificar o que cada bandeira vende, pois isso pode explicar os valores nulos em alguma delas

            Valor de Venda
Produto             ETANOL  GASOLINA GASOLINA ADITIVADA
Bandeira
ALESAT            4.657715  5.798276           5.925192
AMERICANOIL       5.190000  5.847826           5.915333
ATEM' S           5.158268  5.974562           5.916859
ATLÂNTICA         4.942308  5.791750           5.837419
BRANCA            4.373859  5.645761           5.762779

In [271]:
media_bandeira1.reset_index(inplace=True)
media_bandeira1.head()

            Bandeira Valor de Venda
Produto                      ETANOL  GASOLINA GASOLINA ADITIVADA
0             ALESAT       4.657715  5.798276           5.925192
1        AMERICANOIL       5.190000  5.847826           5.915333
2            ATEM' S       5.158268  5.974562           5.916859
3          ATLÂNTICA       4.942308  5.791750           5.837419
4             BRANCA       4.373859  5.645761           5.762779

In [272]:
media_bandeira1.columns

MultiIndex([(      'Bandeira',                   ''),
            ('Valor de Venda',             'ETANOL'),
            ('Valor de Venda',           'GASOLINA'),
            ('Valor de Venda', 'GASOLINA ADITIVADA')],
           names=[None, 'Produto'])

In [255]:
# Criando um groupby dos registros da SUL COMBUSTÍVEIS e mostrando o df
grp_sul_comb = conjunto_dados.loc[(conjunto_dados['Bandeira'] == 'SUL COMBUSTÍVEIS'), :].copy()
grp_sul_comb.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Unidade de Medida,Bandeira,Dias da Semana
4801,S,RS,SAO GABRIEL,JP SANTA LUCIA COMERCIO DE COMBUSTIVEIS LTDA,17.695.813/0019-75,RUA MARIO AVANCINI DOS SANTOS,34,0,GABRIELENSE,97306-002,GASOLINA ADITIVADA,2022-07-04,7.14,R$ / litro,SUL COMBUSTÍVEIS,Segunda
4802,S,RS,SAO GABRIEL,JP SANTA LUCIA COMERCIO DE COMBUSTIVEIS LTDA,17.695.813/0019-75,RUA MARIO AVANCINI DOS SANTOS,34,0,GABRIELENSE,97306-002,GASOLINA,2022-07-04,6.99,R$ / litro,SUL COMBUSTÍVEIS,Segunda
8313,S,RS,SANTA MARIA,TREINO COMERCIO DE COMBUSTIVEIS - EIRELI,33.517.308/0001-68,RUA ASSIS BRASIL,395,0,ITARARE,97045-070,GASOLINA ADITIVADA,2022-07-05,6.49,R$ / litro,SUL COMBUSTÍVEIS,Terça
8314,S,RS,SANTA MARIA,TREINO COMERCIO DE COMBUSTIVEIS - EIRELI,33.517.308/0001-68,RUA ASSIS BRASIL,395,0,ITARARE,97045-070,GASOLINA,2022-07-05,6.39,R$ / litro,SUL COMBUSTÍVEIS,Terça
18441,S,RS,SANTA MARIA,TREINO COMERCIO DE COMBUSTIVEIS - EIRELI,33.517.308/0001-68,RUA ASSIS BRASIL,395,0,ITARARE,97045-070,GASOLINA,2022-07-11,5.83,R$ / litro,SUL COMBUSTÍVEIS,Segunda

In [256]:
# Conferindo os valores únicos desses registros e confirmando que a SUL COMBUSTÍVEIS 
grp_sul_comb['Produto'].value_counts()

GASOLINA ADITIVADA    20
GASOLINA              20
Name: Produto, dtype: int64

In [257]:
# Criando um groupby dos registros da RUFF C.J. e mostrando o df
grp_ruff_comb = conjunto_dados.loc[(conjunto_dados['Bandeira'] == 'RUFF C.J.'), :].copy()
grp_ruff_comb.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Unidade de Medida,Bandeira,Dias da Semana
26062,SE,SP,SAO JOAO DA BOA VISTA,COMERCIAL DE PETROLEO 4C LTDA,31.819.835/0001-00,RUA TIRADENTES,45,0,ROSARIO,13870-260,GASOLINA,2022-07-13,5.69,R$ / litro,RUFF C.J.,Quarta
26063,SE,SP,SAO JOAO DA BOA VISTA,COMERCIAL DE PETROLEO 4C LTDA,31.819.835/0001-00,RUA TIRADENTES,45,0,ROSARIO,13870-260,ETANOL,2022-07-13,4.13,R$ / litro,RUFF C.J.,Quarta
40685,SE,SP,SAO JOAO DA BOA VISTA,COMERCIAL DE PETROLEO 4C LTDA,31.819.835/0001-00,RUA TIRADENTES,45,0,ROSARIO,13870-260,ETANOL,2022-07-20,3.99,R$ / litro,RUFF C.J.,Quarta
40686,SE,SP,SAO JOAO DA BOA VISTA,COMERCIAL DE PETROLEO 4C LTDA,31.819.835/0001-00,RUA TIRADENTES,45,0,ROSARIO,13870-260,GASOLINA,2022-07-20,5.69,R$ / litro,RUFF C.J.,Quarta
51314,SE,SP,SAO JOAO DA BOA VISTA,COMERCIAL DE PETROLEO 4C LTDA,31.819.835/0001-00,RUA TIRADENTES,45,0,ROSARIO,13870-260,ETANOL,2022-07-26,3.99,R$ / litro,RUFF C.J.,Terça

In [258]:
grp_ruff_comb['Produto'].value_counts()

GASOLINA    6
ETANOL      6
Name: Produto, dtype: int64

In [273]:
media_bandeira1['Bandeira'] = media_bandeira1['Bandeira'].astype('category').cat.codes
media_bandeira1.corr()

                                   Bandeira Valor de Venda            \
Produto                                             ETANOL  GASOLINA
               Produto
Bandeira                           1.000000      -0.186898 -0.162000
Valor de Venda ETANOL             -0.186898       1.000000  0.501727
               GASOLINA           -0.162000       0.501727  1.000000
               GASOLINA ADITIVADA  0.027486       0.261135  0.840504


Produto                           GASOLINA ADITIVADA
               Produto
Bandeira                                    0.027486
Valor de Venda ETANOL                       0.261135
               GASOLINA                     0.840504
               GASOLINA ADITIVADA           1.000000

In [ ]:
# IDEIAS

# - Pegar as principais bandeiras (que vende todos os combs e esta presente em todas regioes) e plotar
#   um gráfico de barras

# - Fazer igual aquele gráfico de barras azuis que o José fez nos testes dele (cada barra uma bandeira
#   e seus preços médios)
#        - separar por combustivel

In [ ]:
#media_bandeira2 = media_combustivel_bandeira.unstack('Bandeira')
#media_bandeira2

In [ ]:
#correlacao4 = media_bandeira2.corr()
#correlacao4

In [ ]:
sns.heatmap(correlacao3, annot = True, fmt=".1f")