In [8]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

## Tratamento

In [9]:
csv = pd.read_csv('dados/precos-gasolina-etanol-07.csv', delimiter=';')
comb_jul = pd.DataFrame(csv)
comb_jul.head(1)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,NaN,LACE,29703-030,GASOLINA ADITIVADA,01/07/2022,"7,48",NaN,R$ / litro,VIBRA ENERGIA

In [10]:
csv = pd.read_csv('dados/precos-gasolina-etanol-08.csv', delimiter=';')
comb_ago = pd.DataFrame(csv)
comb_ago.head(1)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,AUTO POSTO M M GARROTE LTDA,08.738.994/0001-50,RODOVIA AL-220,5848,KM 96,BOM SUCESSO,57309-035,ETANOL,01/08/2022,"4,79",NaN,R$ / litro,VIBRA ENERGIA

In [11]:
conjunto_dados = pd.concat([comb_jul, comb_ago])
conjunto_dados.head(1)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,NaN,LACE,29703-030,GASOLINA ADITIVADA,01/07/2022,"7,48",NaN,R$ / litro,VIBRA ENERGIA

In [12]:
conjunto_dados.reset_index(0,drop=True,inplace=True)

In [13]:
((conjunto_dados.isnull().sum() / conjunto_dados.shape[0]) * 100).sort_values(ascending=False)

Valor de Compra      100.000000
Complemento           78.707461
Bairro                 0.323960
Numero Rua             0.055828
Regiao - Sigla         0.000000
Estado - Sigla         0.000000
Municipio              0.000000
Revenda                0.000000
CNPJ da Revenda        0.000000
Nome da Rua            0.000000
Cep                    0.000000
Produto                0.000000
Data da Coleta         0.000000
Valor de Venda         0.000000
Unidade de Medida      0.000000
Bandeira               0.000000
dtype: float64

In [14]:
conjunto_dados.drop('Valor de Compra', axis=1, inplace=True)

In [15]:
conjunto_dados['Valor de Venda'] = conjunto_dados['Valor de Venda'].apply(lambda y: float(str(y.replace(',','.'))))

In [16]:
conjunto_dados.Complemento.fillna('0', inplace=True)

In [17]:
conjunto_dados.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Unidade de Medida,Bandeira
0,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,0,LACE,29703-030,GASOLINA ADITIVADA,01/07/2022,7.48,R$ / litro,VIBRA ENERGIA
1,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,0,LACE,29703-030,GASOLINA,01/07/2022,7.38,R$ / litro,VIBRA ENERGIA
2,SE,ES,COLATINA,POSTO MOTOCAP LTDA,04.814.652/0001-10,PRACA ALMIRANTE BARROSO,52,LETRA A,LACE,29703-055,ETANOL,01/07/2022,5.99,R$ / litro,VIBRA ENERGIA
3,SE,ES,COLATINA,POSTO MOTOCAP LTDA,04.814.652/0001-10,PRACA ALMIRANTE BARROSO,52,LETRA A,LACE,29703-055,GASOLINA,01/07/2022,7.39,R$ / litro,VIBRA ENERGIA
4,CO,GO,GOIANIA,JUSTINIANO & JUSTINIANO LTDA,04.489.287/0001-16,AVENIDA JOSE LEANDRO DA CRUZ,"2,36","QUADRA 18, LOTE 01",PARQUE AMAZONIA,74840-390,GASOLINA ADITIVADA,01/07/2022,6.49,R$ / litro,IPIRANGA

In [18]:
conjunto_dados['Data da Coleta'] = pd.to_datetime(conjunto_dados['Data da Coleta'],format='%d/%m/%Y')
conjunto_dados.head(1)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Unidade de Medida,Bandeira
0,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,0,LACE,29703-030,GASOLINA ADITIVADA,2022-07-01,7.48,R$ / litro,VIBRA ENERGIA

In [19]:
conjunto_dados.loc[(conjunto_dados['Data da Coleta'] > '2022-07-11') & (conjunto_dados['Data da Coleta'] < '2022-07-15')]

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Unidade de Medida,Bandeira
18585,S,RS,PORTO ALEGRE,COMERCIAL DE COMBUSTIVEIS TK LTDA,91.438.796/0001-14,RUA EDUARDO PRADO,415,CAVALHADA,CAVALHADA,91751-000,GASOLINA ADITIVADA,2022-07-12,6.09,R$ / litro,RAIZEN
18586,S,RS,PORTO ALEGRE,COMERCIAL DE COMBUSTIVEIS TK LTDA,91.438.796/0001-14,RUA EDUARDO PRADO,415,CAVALHADA,CAVALHADA,91751-000,GASOLINA,2022-07-12,5.89,R$ / litro,RAIZEN
18587,N,AC,RIO BRANCO,CODEPE COMBUSTIVEIS LTDA,08.220.930/0001-62,LOTEAMENTO PORTAL DA AMAZONIA,S/N,"QUADRA 101 LTS 01,02,03,04, 05 E 33",CALAFATE,69905-801,GASOLINA ADITIVADA,2022-07-12,6.39,R$ / litro,VIBRA ENERGIA
18588,N,AC,RIO BRANCO,CODEPE COMBUSTIVEIS LTDA,08.220.930/0001-62,LOTEAMENTO PORTAL DA AMAZONIA,S/N,"QUADRA 101 LTS 01,02,03,04, 05 E 33",CALAFATE,69905-801,ETANOL,2022-07-12,5.59,R$ / litro,VIBRA ENERGIA
18589,N,AC,RIO BRANCO,CODEPE COMBUSTIVEIS LTDA,08.220.930/0001-62,LOTEAMENTO PORTAL DA AMAZONIA,S/N,"QUADRA 101 LTS 01,02,03,04, 05 E 33",CALAFATE,69905-801,GASOLINA,2022-07-12,6.39,R$ / litro,VIBRA ENERGIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28444,NE,BA,IRECE,AUTO POSTO NORDESTE LTDA,35.621.319/0001-19,RUA BELEM,S/N,TERREO,BAIXAO DE SINEZIA,44900-000,GASOLINA ADITIVADA,2022-07-14,6.19,R$ / litro,BRANCA
28445,NE,PE,RECIFE,HCW COMERCIO DE COMBUSTIVEIS E LUBRIFICANTES LTDA,33.172.272/0003-90,RUA GENERAL JOAQUIM INACIO,425,0,PAISSANDU,50070-495,GASOLINA,2022-07-14,6.35,R$ / litro,IPIRANGA
28446,NE,PE,RECIFE,HCW COMERCIO DE COMBUSTIVEIS E LUBRIFICANTES LTDA,33.172.272/0003-90,RUA GENERAL JOAQUIM INACIO,425,0,PAISSANDU,50070-495,ETANOL,2022-07-14,5.79,R$ / litro,IPIRANGA
28447,S,SC,FLORIANOPOLIS,VIP COMBUSTIVEIS LTDA,35.793.154/0001-62,RUA WALDEMAR OURIQUES,739,0,CAPOEIRAS,88090-050,GASOLINA,2022-07-14,5.96,R$ / litro,BRANCA
28448,S,SC,FLORIANOPOLIS,VIP COMBUSTIVEIS LTDA,35.793.154/0001-62,RUA WALDEMAR OURIQUES,739,0,CAPOEIRAS,88090-050,GASOLINA ADITIVADA,2022-07-14,5.96,R$ / litro,BRANCA

In [20]:
conjunto_dados.dtypes

Regiao - Sigla               object
Estado - Sigla               object
Municipio                    object
Revenda                      object
CNPJ da Revenda              object
Nome da Rua                  object
Numero Rua                   object
Complemento                  object
Bairro                       object
Cep                          object
Produto                      object
Data da Coleta       datetime64[ns]
Valor de Venda              float64
Unidade de Medida            object
Bandeira                     object
dtype: object

In [21]:
#conjunto_dados['Data da Coleta'] = conjunto_dados['Data da Coleta'].dt.strftime('%d-%m-%Y')
#conjunto_dados.head(1)

In [22]:
conjunto_dados['Data da Coleta'][0]

Timestamp('2022-07-01 00:00:00')

## Trabalhando nos dados

#### Pergunta 3: Quais os 5 estados com o preço médio da gasolina e do etanol mais caros?

In [36]:
# Levando em consideração os 2 meses e os 2 combustíveis juntos,Gasolina e Etanol.
dados_agrupados_estado = conjunto_dados.copy()
media_combs_estados = dados_agrupados_estado.groupby(dados_agrupados_estado['Estado - Sigla'])
print('OS 5 ESTADOS COM O MAIOR PREÇO MÉDIO DE GASOLINA COMUM/ADITIVADA E ETANOL NO BIMESTRE.')
display(media_combs_estados[['Valor de Venda']].mean().sort_values(by = 'Valor de Venda',ascending = False).head())

OS 5 ESTADOS COM O MAIOR PREÇO MÉDIO DE GASOLINA COMUM/ADITIVADA E ETANOL NO BIMESTRE.

                Valor de Venda
Estado - Sigla
RR                    6.020909
PA                    5.998639
AC                    5.996797
CE                    5.867937
RN                    5.852482

In [53]:
# Fazendo a média bimestral com a Gasolina,Gasolina Aditivada e o Etanol separados.
media_gasolinadit_estado = dados_agrupados_estado.loc[dados_agrupados_estado['Produto'] == 'GASOLINA ADITIVADA'].groupby(dados_agrupados_estado['Estado - Sigla'])
print('OS 5 ESTADOS COM O MAIOR PREÇO MÉDIO DE GASOLINA ADITIVADA NO BIMESTRE.')
df_media_gasolinadt_estado = media_gasolinadit_estado[['Valor de Venda']].mean()
display(df_media_gasolinadt_estado.sort_values(by = 'Valor de Venda',ascending = False).head())
print('\n')
media_gasolina_estado = dados_agrupados_estado.loc[dados_agrupados_estado['Produto'] == 'GASOLINA'].groupby(dados_agrupados_estado['Estado - Sigla'])
print('OS 5 ESTADOS COM O MAIOR PREÇO MÉDIO DE GASOLINA COMUM NO BIMESTRE.')
df_media_gasolina_estado = media_gasolina_estado[['Valor de Venda']].mean()
display(df_media_gasolina_estado.sort_values(by = 'Valor de Venda',ascending = False).head())
print('\n')
print('OS 5 ESTADOS COM O MAIOR PREÇO MÉDIO DE ETANOL NO BIMESTRE.')
media_etanol_estado = dados_agrupados_estado.loc[dados_agrupados_estado['Produto'] == 'ETANOL'].groupby(dados_agrupados_estado['Estado - Sigla'])
df_media_etanol_estado = media_etanol_estado[['Valor de Venda']].mean()
display(df_media_etanol_estado.sort_values(by = 'Valor de Venda',ascending = False).head())

OS 5 ESTADOS COM O MAIOR PREÇO MÉDIO DE GASOLINA ADITIVADA NO BIMESTRE.

                Valor de Venda
Estado - Sigla
PI                    6.314518
CE                    6.197571
AC                    6.177801
TO                    6.176667
PA                    6.174368

OS 5 ESTADOS COM O MAIOR PREÇO MÉDIO DE GASOLINA COMUM NO BIMESTRE.

                Valor de Venda
Estado - Sigla
AC                    6.211454
AM                    6.188049
PI                    6.075050
TO                    6.046250
BA                    6.030862

OS 5 ESTADOS COM O MAIOR PREÇO MÉDIO DE ETANOL NO BIMESTRE.

                Valor de Venda
Estado - Sigla
AP                    5.896250
RS                    5.660152
PA                    5.624816
RO                    5.599120
RR                    5.568182

#### Pergunta 4: Qual o preço médio da gasolina e do etanol por estado?

In [63]:
# Fazendo a média bimestral da Gasolina,da Gasolina Aditivada e do Etanol.
df_media_comb_estado = pd.concat([df_media_gasolinadt_estado,df_media_gasolina_estado,df_media_etanol_estado],axis = 1)
df_media_comb_estado.columns = ['Gasolina Aditivada','Gasolina Comum','Etanol']
print('Tabela com a média dos combustíveis por estado:\n')
df_media_comb_estado

Tabela com a média dos combustíveis por estado:

                Gasolina Aditivada  Gasolina Comum    Etanol
Estado - Sigla
AC                        6.177801        6.211454  5.376684
AL                        6.101433        5.944651  5.240854
AM                        6.117741        6.188049  4.952985
AP                        5.433056        5.107056  5.896250
BA                        6.140488        6.030862  5.074360
CE                        6.197571        5.955275  5.482219
DF                        5.699895        5.600662  4.749265
ES                        5.931265        5.796058  4.963646
GO                        5.648403        5.518703  4.060479
MA                        6.045485        5.949016  5.332013
MG                        5.829993        5.669344  4.250565
MS                        5.695257        5.557874  4.407469
MT                        5.854049        5.680068  3.805687
PA                        6.174368        6.014379  5.624816
PB                        5.929968        5.748032  5.103019
PE                        6.078777        5.928172  5.344424
PI                        6.314518        6.075050  4.987114
PR                        5.786076        5.630792  4.422551
RJ                        5.972310        5.840389  4.874418
RN                        6.067014        6.029264  5.482434
RO                        5.956371        5.833149  5.599120
RR                        6.155534        6.030085  5.568182
RS                        5.767893        5.628316  5.660152
SC                        5.782513        5.675602  5.214084
SE                        5.675429        5.575627  5.092656
SP                        5.773200        5.527844  3.895819
TO                        6.176667        6.046250  5.151095